[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
tornado = "==5.1.1"
requests = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
numpy = "*"
tensorflow = "*"
xgboost = "*"

[requires]
python_version = "3.7"
